body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Import partials
// Variables
@import "./scss/variables/colors";

// Utilities
@import "./scss/utilities/mediaQueries";
@import "./scss/utilities/classes";

// Components
@import "./scss/components/App";
@import "./scss/components/Loader";
@import "./scss/components/Header";
@import "./scss/components/MainInfo";
@import "./scss/components/FlightsPreNoon";
@import "./scss/components/SwedishFlights";
@import "./scss/components/CarriersList";
